/* Paramètres pour toute la page */
@keyframes opac {from {opacity:0} to {opacity:1}}
* {
    scroll-behavior: smooth;
    margin: 0;
    font-family: Arial, sans-serif;
    /* animation */
    animation:opac 0.8s
}

/* Pour le problème du footer voir : https://openclassrooms.com/forum/sujet/faire-un-footer-qui-reste-tout-le-temps-en-bas#message-91776182 
et l'exemple sur jsfiddle.net : https://jsfiddle.net/n2zmp3d9/*/
body {
    min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.partie_centrale {
    background: #D6D6D6;
    text-align: center;
    flex: 1;
	padding: 1rem;
}

/* ------------------------ En-tête du site */
.header {
    background: linear-gradient(to bottom right, #000000, #00aeff);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

/* Titre(s) du site */
.titres { /* quand il y a un titre et un sous-titre */
    margin-left: 20px;
    margin-bottom: 12px;
    flex-grow: 1; /* Permet à ce conteneur de prendre autant d'espace que possible */
    text-align: left;
}

.titre_seul { /* quand il n'y a qu'un titre */
    margin-top: 19px;
    margin-bottom: 19px;
    margin-left: 5px;
}

.titre_site {
    font-size: 40px;
    margin: 0;
    text-decoration: none;
}

.sous_titre_site {
    font-size: 20px;
    margin: 0;
    font-weight: normal;
}

/* logo (pas sur toutes les pages) */
.logo {
    flex-shrink: 0; /* empêche le logo de rétrécir pour s'adapter à l'écran */
    margin-left: 5px;
}

.logo img {
    max-width: 100%; /* largeur maximale de l'image : 100% de la largeur du conteneur */
    height: 80px;
    width: 80px;
}

/* ------------------------ style du bas de la page (footer) */
.bas_de_page {
    background-color: #2B2B2B;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bas_de_page_gauche,
.bas_de_page_centre,
.bas_de_page_droite {
    padding: 0 20px;
    font-weight: bold;
}

.bas_de_page_gauche p {margin: 0;}

.bas_de_page_centre a {
    color: white;
    text-decoration: none;
    justify-content: space-between;
}
.bas_de_page_centre a:visited {color: white;}

.bas_de_page_droite a {margin-left: 10px;}
.bas_de_page_droite img {width: 30px; height: 30px;}

/* ------------------------ responsive ------------------------ */
@media screen and (max-width: 768px) {
    /* annule la différence créée par la disparition du logo de l'appli */
    .header {height: 84px;}

    .logo {display: none;} /* cache l'image quand l'écran est trop petit */

    /* ajuste l'espacement quand l'image est cachée */
    .titres, .titre_seul {
        text-align: center;
    }

    /* On ajuste la position des éléments du footer en fonction de la taille de l'écran */
    .bas_de_page {
        flex-direction: column;
        text-align: center;
    }

    .bas_de_page_gauche,
    .bas_de_page_centre,
    .bas_de_page_droite {
        padding: 7px 0;
    }

    .bas_de_page_droite a {
        margin: 5px;
    }
}

@media screen and (max-width: 495px) {
    .sous_titre_site {
        display: none;
    }

    .titre_site {
        text-align: left;
        margin-left: 0px;
    }

    .logo {
        display: block;
        text-align: left;
    }
}