/* Page d'erreur 404 not found personnalisée */
.section_erreur_404 {
    text-align: center;
    margin-top: 50px;
}

.paragraphe_erreur {
    color: white;
    margin-bottom: 10px;
    margin-top: 20px;
}