/* Paramètres pour toute la page */
@keyframes opac {from {opacity:0} to {opacity:1}}
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* animation */
    animation:opac 0.8s
}

/* Pour le problème du footer voir : https://openclassrooms.com/forum/sujet/faire-un-footer-qui-reste-tout-le-temps-en-bas#message-91776182 
et l'exemple sur jsfiddle.net : https://jsfiddle.net/n2zmp3d9/*/
body {
    min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.partie_centrale {
    background: linear-gradient(to bottom right, #000000, #00aeff);
    text-align: center;
    flex: 1;
	padding: 1rem;
}

/* Boutons sur la page vers le lien de téléchargement, la doc, etc...*/
.bouton {
    cursor: pointer;
    display: inline-block;
    background-color: #3498DB;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    box-shadow: 0 5px #00608d;
}

.bouton:hover {
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    box-shadow: 0 4px #00608d;
}

.bouton:active {
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    box-shadow: 0 1px #00608d;
}

/* les sections principales de la partie centrale (main) */
.titres_sections_partie_centrale {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
}

.sections_partie_centrale {
    border-radius: 8px;
    border: 2px solid #303436;
    background-color: #2B2B2B;
    padding: 30px; /* espace intérieur */
    font-size: larger;
    margin-inline: 15%;
    min-height: 150px; /* hauteur minimale de la section */
    box-sizing: border-box; /* inclure la bordure dans le calcul de la taille */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    color: white;
}

/* Media query pour les petits écrans */
@media screen and (max-width: 768px) {
    .sections_partie_centrale {
        margin-inline: 5%;
        padding: 10px;
    }
}

/* style section presentation */
.section_presentation {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.img_logo_gotime {
    flex-shrink: 0;
    margin-left: 20px;
    height: 140px;
    width: 140px;
}

.section_presentation article {
    background-color: #303436;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.bouton_voir_plus {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    float: right;
    cursor: pointer;
    margin-top: 30px;
}

.bouton_voir_plus:hover {color: aqua;}

#icone_voir_plus {
    height: 20px;
    width: 20px;
    fill: white;
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    .img_logo_gotime {
        display: none;
    }

    .section_presentation article {
        background-color: #2B2B2B;
        box-shadow: none;
        padding: 5%;
    }
}