/* Page d'erreur 404 not found personnalisée */
.section_erreur_404 {
    text-align: center;
    margin-top: 50px;
}

.img_warning {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.paragraphe_erreur {
    color: white;
    margin-bottom: 20px;
}